.project {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 350px;
  z-index: 1;
  // background: rgb(254, 237, 202);
  background: linear-gradient(124deg, rgba(254, 237, 202, 1) 0%, rgba(243, 223, 171, 1) 55%);
  &:nth-of-type(1) {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  }
  &:nth-of-type(2) {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  }

  &:nth-of-type(3) {
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  }
  &:nth-of-type(4) {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  }
  &:nth-of-type(5) {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  }
  &:nth-of-type(6) {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  }

  .projectcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
    flex-direction: column;
    .icon {
      font-size: 2rem;
      color: black;
      font-weight: 700;
      text-decoration: none;
      position: absolute;
      top: 20px;
      right: 30px;
      &:hover {
        text-decoration: underline;
        transition: all ease-in 0.2s;
        color: white;
      }
    }
    .icon2 {
      right: 80px;
    }

    .projecttitle {
      color: black;
      font-weight: 700;
      font-size: 2.5rem;
      letter-spacing: 0.05rem;
      margin-bottom: 0.5rem;
      font-family: "Open Sans", sans-serif;
    }
    h5 {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.822);
      margin-left: 0.5rem;
      text-decoration: underline;
      letter-spacing: 0.05rem;
      font-family: "Open Sans", sans-serif;
      font-family: 400;
      @include tablet {
        font-size: 0.7rem;
      }
      &:nth-of-type(1) {
        margin-left: 0rem;
      }
    }
  }
  &:hover {
    background-color: var(--theme-pageBackground);
    background-image: linear-gradient(43deg, #4159d000 0%, #c850c000 46%, #ffcd7000 100%);
    border: solid var(--textMain-color) 2px;
  }
  &:hover .projecttitle {
    color: var(--textMain-color);
  }
  &:hover h5 {
    color: var(--textSec-color);
  }
  &:hover .icon {
    top: 40px;
    color: var(--textMain-color);
  }

  &:hover:before {
    content: "";
    position: absolute;
    width: 101%;
    height: 100.5%;
    top: 0.5rem;
    right: 0.5rem;
    z-index: -1;
    border: solid var(--textSec-color) 2px;
  }
}
