.title {
  user-select: none;
  position: relative;
  margin: 4rem 0;

  h2 {
    position: relative;
    width: fit-content;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    z-index: 1;
    @include tablet {
      font-size: 1.5rem;
    }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   bottom: 5px;
    //   left: 15px;
    //   height: 10px;
    //   width: 90%;
    //   background: rgba(128, 128, 128, 0.694);
    //   display: inline-block;
    //   z-index: -1;
    //   opacity: 0.5;
    //   transform: skewY(2deg);
    // }
  }
  img {
    width: 120%;
    position: absolute;
    top: 5px;
    // left: 20px;
  }
}
