.socialmedia {
  bottom: 3rem;
  left: 7.5%;
  z-index: 100;
  @include tablet {
    padding: 0 2.5%;
    bottom: 1.8rem;
  }
  @include phone {
    padding: 0 2%;
  }
  .icon {
    margin-right: 1rem;
    color: var(--textMain-color);
    padding: 0;
    font-size: 2.2rem;

    @include tablet {
      font-size: 2rem;
    }
    &:hover {
      color: gray;
      transition: all ease-in 0.1s;
    }
  }
}
